<div class="container">

    <div class="row">
        <form [formGroup]="newProductForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Product Name</label>

                <input type="text" formControlName="name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Product Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Product Price</label>
                <input type="number" formControlName="price" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
                <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                    <div *ngIf="f.price.errors.required">Product price is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Product Catagory</label>
                <select formControlName="catagory" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.catagory.errors }">
                    <option value=""></option>
                    <option value="5dcffe2ac453ef3f1c174ee9">Milk & Eggs</option>
                    <option value="5dd7fd5af78e6f2d70441891">Vegetables & Fruits</option>
                    <option value="5dd7fd8bf78e6f2d70441892">Meat & Fish</option>
                    <option value="5dd7fd95f78e6f2d70441893">Wine & Drinks</option>
                </select>

                <div *ngIf="submitted && f.catagory.errors" class="invalid-feedback">
                    <div *ngIf="f.catagory.errors.required">Product catagory is required</div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary mr-1">Add Product</button>
                <button class="btn btn-primary mr-1" (click)="cancel()">Cancel</button>
            </div>

        </form>
    </div>
</div>