


<div *ngFor='let product of searchProduct'>
      <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"> -->
      
        <div class="card" mat-raised (click)="openDialog(product)" style="width:150px">
        <h4 class="card-title">Product Name: {{product.name}}</h4> 
     <p class="card-text">Price: {{product.price}}</p>
        <!-- <p class="card-text">{{product.picture}}</p> --> -->
        <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
</div>
  </div> 

  